accelerate==1.14.0
bert-score==0.3.13
einops==0.8.2
filelock==3.29.0
fsspec==2026.4.0
huggingface_hub==0.36.2
Jinja2==3.1.6
MarkupSafe==3.0.3
networkx==3.4.2
numpy==2.2.6
pdf2image==1.17.0
pillow==12.2.0
psutil==7.2.2
pyannote-audio==4.0.7
pynvml==11.5.3
python-dotenv==1.2.2
rouge-score==0.1.2
sentencepiece==0.2.0
tiktoken==0.8.0
tqdm==4.69.0
transformers==4.51.0
typing_extensions==4.15.0
whisperx==3.8.6